<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_CN/sdk.js#xfbml=1&version=v2.5&appId=1303256026358045";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


	<h1>{{news.title}}</h1>
	<img ng-src = {{news.img}}>
	<pre>Washington (CNN)Dozens of protesters were blocking traffic near a Donald Trump event in Arizona on Saturday, while demonstrators marched in Manhattan to protest the GOP front-runner.

The protesters in Arizona parked vehicles sideways on Shea Boulevard, blocking both lanes of traffic into Fountain Hills, Arizona, where Trump was scheduled to hold a rally Saturday afternoon, Maricopa County Sheriff's Office Deputy Joaquin Enriquez told CNN.

Enriquez described Shea Boulevard as the main artery into the area and the protesters' actions are causing motorists to drive into oncoming traffic as they try to get around them. Traffic was backed up for miles due to the blockage.</pre>
<div class="fb-comments" data-href="http://104.236.199.200/Happy_News/app/#/content/{{news.id}}" data-numposts="5"></div>